.lista {
    margin-top: -5%;
    background-color: rgba(255,255,255,.85);
    padding: 10%;
    padding-left: 5%;
    padding-right: 5%;
    height: 820px;
}
.titulo{
    background-color: #007E33 !important;
    color: white;
}