<div class="lista">
    <div class="animated zoomIn">
        <h1> <img src="../../../../assets/imgs/pesquisaicon.png" width="90"> Pesquisa de alunos matriculados</h1>
        <table class="col-12 md-form">
            <tr>
                <td><input mdbInputDirective type="text" name="nome" [(ngModel)]="nome" (keyup)="pesquisar()" class="form-control" placeholder="Nome" autocomplete="off" [mdbValidate]="false"></td>
                <td><input mdbInputDirective type="text" name="sobrenome" [(ngModel)]="sobrenome" (keyup)="pesquisar()" class="form-control" placeholder="Sobrenome" autocomplete="off" [mdbValidate]="false"></td>
                <td><input mdbInputDirective type="text" name="email" [(ngModel)]="email" (keyup)="pesquisar()" class="form-control" placeholder="Email" autocomplete="off" [mdbValidate]="false"></td>
                <td><input mdbInputDirective type="text" name="telefone" [(ngModel)]="telefone" (keyup)="pesquisar()" class="form-control" placeholder="Telefone" autocomplete="off" [mdbValidate]="false"></td>
            </tr>
        </table>

        <div class="col-12">
            <p-table [value]="listaDeAlunos" [columns]="coluna" [paginator]="true" [rows]="5" selectionMode="single" autoLayout="true" [responsive]="true">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns" class="titulo" style="color: white;">
                            {{col.header}}
                        </th>
                        <th *ngIf="mostra('ROLE_DELETAR_ALUNO')" style="background-color: #007E33; color: white;" class="acoes">Ações</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-alunos let-columns="columns">
                    <tr>
                        <td *ngFor="let col of columns" class="corpo">
                            <img *ngIf="col.field == 'imagem'" src="../../../../assets/imgs/perfil/{{alunos[col.field]}}" width="35" class="rounded-circle img-responsive">
                            <span *ngIf="col.field == 'nascimento'" >
                                {{alunos[col.field] | date:'dd/MM/yyyy'}}
                            </span>
                            <span *ngIf="col.field != 'nascimento' && col.field != 'imagem'" >
                                {{alunos[col.field]}}
                            </span>
                        </td>
                        <td *ngIf="mostra('ROLE_DELETAR_ALUNO')" class="corpo corpoacoes">
                            <button mdbBtn (click)="editarAluno(alunos)" type="button" mdbTooltip="Editar" color="info" size="sm" class="waves-light"  data-toggle="modal" data-target="#basicExample" (click)="editarAlunoLista.show()" mdbWavesEffect style="padding-left: 15px !important; padding-right: 15px !important;"><i class="fa fa-edit fa-2x"></i></button>
                            <button mdbBtn (click)="acionarExcluir(alunos)" type="button" mdbTooltip="Excluir" color="danger" size="sm" class="waves-light" data-toggle="modal" data-target="#basicExample" (click)="excluirAlunoLista.show()" mdbWavesEffect style="padding-left: 15px !important; padding-right: 15px !important;"><i class="fa fa-trash fa-2x"></i></button>
                            <button mdbBtn [routerLink]="['../../notasfaltas', alunos.matricula]" type="button" color="default" size="sm"  mdbTooltip="Notas e faltas" mdbWavesEffect style="margin-right: -150px; padding-left: 15px !important; padding-right: 15px !important;"><i class="fa fa-calendar fa-2x"></i></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <br><Br>
        <a *ngIf="mostra('ROLE_SALVAR_ALUNO')" mdbBtn type="button" block="true" color="success" outline="true" mdbWavesEffect [routerLink]="['../adicionaraluno']">Adicionar aluno</a>
    </div>
</div>

<div mdbModal #excluirAlunoLista="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
    <div class="modal-content text-center">
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Deseja excluir o aluno?</p>
      </div>
      <div class="modal-body">
        <i class="fa fa-times fa-4x animated rotateIn"></i>
      </div>
      <div class="modal-footer flex-center">
        <a mdbBtn color="danger"class="waves-effect" mdbWavesEffect (click)="excluirAluno()" (click)="excluirAlunoLista.hide()">Sim</a>
        <a type="button" mdbBtn color="danger" outline="true"  class="waves-effect" mdbWavesEffect data-dismiss="modal" (click)="excluirAlunoLista.hide()">Não</a>
      </div>
    </div>
  </div>
</div>

<div mdbModal #editarAlunoLista="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog cascading-modal modal-avatar" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
            <img src="https://freeiconshop.com/wp-content/uploads/edd/document-edit-flat.png" alt="avatar" class="rounded-circle img-responsive">
      </div>
      <div class="modal-body">
         <table>
             <tr>
                 <td>
                    <div class="md-form">
                        <i class="fa fa-user prefix grey-text"></i>
                        <input type="text" id="nome" class="form-control validate" mdbInputDirective [(ngModel)]="alunoAtualizar.nome" mdbTooltip="Nome" [mdbValidate]="false">
                    </div>
                 </td>
                 <td>
                    <div class="md-form">
                        <i class="fa fa-user prefix grey-text"></i>
                        <input type="text" id="sn" class="form-control validate" mdbInputDirective [(ngModel)]="alunoAtualizar.sobrenome" mdbTooltip="Sobrenome" [mdbValidate]="false">
                    </div>
                 </td>
             </tr>
             <tr>
                 <td colspan=2>
                    <div class="md-form">
                        <i class="fa fa-envelope prefix grey-text"></i>
                        <input type="email" id="ema" class="form-control validate" mdbInputDirective [(ngModel)]="alunoAtualizar.email" mdbTooltip="Email" email [mdbValidate]="false">
                    </div>
                </td>
             </tr>
             <tr>
                 <td>
                    <div class="md-form">
                        <i class="fa fa-calendar prefix grey-text"></i>
                        <input type="date" id="tef" class="form-control validate" mdbInputDirective [(ngModel)]="alunoAtualizar.nascimento" mdbTooltip="Nascimento" [mdbValidate]="false">
                    </div>
                 </td>
                 <td>
                    <div class="md-form">
                        <i class="fa fa-phone prefix grey-text"></i>
                        <input type="text" id="tef" class="form-control validate" mdbInputDirective [(ngModel)]="alunoAtualizar.telefone" mdbTooltip="Telefone" [mdbValidate]="false"  [textMask]="{mask: mask}">
                    </div>
                 </td>
             </tr>
        </table>
        <div class="modal-footer d-flex justify-content-center">
            <button mdbBtn color="unique" class="waves-light" mdbWavesEffect (click)="editarAlunoFinalizado()" (click)="editarAlunoLista.hide()" >Atualizar
            <i class="fa fa-paper-plane-o ml-1"></i>
            </button>
        </div>
    </div>
  </div>
</div>

<!-- MENSAGENS DE ERRO -->
<p-toast [style]="{marginTop: '80px'}" position="bottom-left"></p-toast>
<p-toast position="center" key="c" (onClose)="fecharAviso()" [modal]="true" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
      <div style="text-align: center">
          <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
          <h3>{{message.summary}}</h3>
          <p>{{message.detail}}</p>
      </div>
      <div class="ui-g ui-fluid">
          <div class="ui-g-6">
              <button type="button" pButton (click)="fecharAviso()" label="No" class="ui-button-secondary"></button>
          </div>
      </div>
  </ng-template>
</p-toast>

