.corpo {
    background-color: rgba(255, 255, 255, .85);
    padding-left: 5%;
    padding-right: 5%;
    height: 100vh;
    padding: 1%;
}

.notas {
    background-color: white;
    padding: 1%;
    float: left;
    padding-left: 2%;
    padding-right: 4%;
}

.faltas {
    background-color: white;
    padding: 1%;
    padding-left: 4%;
    padding-right: 2%;
    float: left;
    border-left: 1px solid #eeeeee ;
}