<div class="corpo">
  <div class="notas col-5 offset-1 animated zoomIn">
      <h1><img src="../../../../assets/imgs/boletim.png" width="50px"> Boletim de notas</h1>
      <table  class="table table-hover table-lg" *ngIf="!aparecidoNotas">
        <thead >
          <th scope="col">Matéria</th> <th scope="col">1° Bimestre</th> <th scope="col">2° Bimestre</th> <th scope="col">3° Bimestre</th> <th scope="col">4° Bimestre</th> <th scope="col">Média</th>
        </thead>
        <tbody>
          <tr>
            <th>Java</th>
            <td>
              <div *ngFor="let n of arrayNotas" >
                <div *ngIf="n.notasid.materia == 'Java'" >
                  {{ n.nota1 }}
                </div>
              </div>
            </td>
            <td>
              <div *ngFor="let n of arrayNotas" >
                <div *ngIf="n.notasid.materia == 'Java'" >
                  {{ n.nota2 }}
                </div>
              </div>
            </td>
            <td>
              <div *ngFor="let n of arrayNotas" >
                <div *ngIf="n.notasid.materia == 'Java'" >
                  {{ n.nota3 }}
                </div>
              </div>
            </td>
            <td>
              <div *ngFor="let n of arrayNotas" >
                <div *ngIf="n.notasid.materia == 'Java'" >
                  {{ n.nota4 }}
                </div>
              </div>
            </td>
            <td>
              <div *ngFor="let n of arrayNotas" >
                <div *ngIf="n.notasid.materia == 'Java'" >
                    <font [ngClass]="{'red-text font-weight-bold': n.media < 6 , 'green-text font-weight-bold': n.media >= 6}"> {{ n.media }} </font>
                </div>
              </div>
            </td>
          </tr>

          <tr>
            <th>PHP</th>
            <td>
              <div *ngFor="let n of arrayNotas" >
                <div *ngIf="n.notasid.materia == 'PHP'" >
                  {{ n.nota1 }}
                </div>
              </div>
            </td>
            <td>
              <div *ngFor="let n of arrayNotas" >
                <div *ngIf="n.notasid.materia == 'PHP'" >
                  {{ n.nota2 }}
                </div>
              </div>
            </td>
            <td>
              <div *ngFor="let n of arrayNotas" >
                <div *ngIf="n.notasid.materia == 'PHP'" >
                  {{ n.nota3 }}
                </div>
              </div>
            </td>
            <td>
              <div *ngFor="let n of arrayNotas" >
                <div *ngIf="n.notasid.materia == 'PHP'" >
                  {{ n.nota4 }}
                </div>
              </div>
            </td>
            <td>
              <div *ngFor="let n of arrayNotas" >
                <div *ngIf="n.notasid.materia == 'PHP'" >
                  <font [ngClass]="{'red-text font-weight-bold': n.media < 6,'green-text font-weight-bold': n.media >= 6}"> {{ n.media }} </font>
                </div>
              </div>
            </td>
          </tr>

          <tr>
              <th>JavaScript</th>
              <td>
                <div *ngFor="let n of arrayNotas" >
                  <div *ngIf="n.notasid.materia == 'JavaScript'" >
                    {{ n.nota1 }}
                  </div>
                </div>
              </td>
              <td>
                <div *ngFor="let n of arrayNotas" >
                  <div *ngIf="n.notasid.materia == 'JavaScript'" >
                    {{ n.nota2 }}
                  </div>
                </div>
              </td>
              <td>
                <div *ngFor="let n of arrayNotas" >
                  <div *ngIf="n.notasid.materia == 'JavaScript'" >
                    {{ n.nota3 }}
                  </div>
                </div>
              </td>
              <td>
                <div *ngFor="let n of arrayNotas" >
                  <div *ngIf="n.notasid.materia == 'JavaScript'" >
                    {{ n.nota4 }}
                  </div>
                </div>
              </td>
              <td>
                <div *ngFor="let n of arrayNotas" >
                  <div *ngIf="n.notasid.materia == 'JavaScript'" >
                      <font [ngClass]="{'red-text font-weight-bold': n.media < 6,'green-text font-weight-bold': n.media >= 6}"> {{ n.media }} </font>
                  </div>
                </div>
              </td>
          </tr>

          <tr>
              <th>C++</th>
              <td>
                <div *ngFor="let n of arrayNotas" >
                  <div *ngIf="n.notasid.materia == 'C++'" >
                    {{ n.nota1 }}
                  </div>
                </div>
              </td>
              <td>
                <div *ngFor="let n of arrayNotas" >
                  <div *ngIf="n.notasid.materia == 'C++'" >
                    {{ n.nota2 }}
                  </div>
                </div>
              </td>
              <td>
                <div *ngFor="let n of arrayNotas" >
                  <div *ngIf="n.notasid.materia == 'C++'" >
                    {{ n.nota3 }}
                  </div>
                </div>
              </td>
              <td>
                <div *ngFor="let n of arrayNotas" >
                  <div *ngIf="n.notasid.materia == 'C++'" >
                    {{ n.nota4 }}
                  </div>
                </div>
              </td>
              <td>
                <div *ngFor="let n of arrayNotas" >
                  <div *ngIf="n.notasid.materia == 'C++'" >
                      <font [ngClass]="{'red-text font-weight-bold': n.media < 6,'green-text font-weight-bold': n.media >= 6}"> {{ n.media }} </font>
                  </div>
                </div>
              </td>
          </tr>

          <tr>
              <th>Angular</th>
              <td>
                <div *ngFor="let n of arrayNotas" >
                  <div *ngIf="n.notasid.materia == 'Angular'" >
                    {{ n.nota1 }}
                  </div>
                </div>
              </td>
              <td>
                <div *ngFor="let n of arrayNotas" >
                  <div *ngIf="n.notasid.materia == 'Angular'" >
                    {{ n.nota2 }}
                  </div>
                </div>
              </td>
              <td>
                <div *ngFor="let n of arrayNotas" >
                  <div *ngIf="n.notasid.materia == 'Angular'" >
                    {{ n.nota3 }}
                  </div>
                </div>
              </td>
              <td>
                <div *ngFor="let n of arrayNotas" >
                  <div *ngIf="n.notasid.materia == 'Angular'" >
                    {{ n.nota4 }}
                  </div>
                </div>
              </td>
              <td>
                <div *ngFor="let n of arrayNotas" >
                  <div *ngIf="n.notasid.materia == 'Angular'" >
                      <font [ngClass]="{'red-text font-weight-bold': n.media < 6,'green-text font-weight-bold': n.media >= 6}"> {{ n.media }} </font>
                  </div>
                </div>
              </td>
          </tr>

          <tr>
              <th>Spring</th>
              <td>
                <div *ngFor="let n of arrayNotas" >
                  <div *ngIf="n.notasid.materia == 'Spring'" >
                    {{ n.nota1 }}
                  </div>
                </div>
              </td>
              <td>
                <div *ngFor="let n of arrayNotas" >
                  <div *ngIf="n.notasid.materia == 'Spring'" >
                    {{ n.nota2 }}
                  </div>
                </div>
              </td>
              <td>
                <div *ngFor="let n of arrayNotas" >
                  <div *ngIf="n.notasid.materia == 'Spring'" >
                    {{ n.nota3 }}
                  </div>
                </div>
              </td>
              <td>
                <div *ngFor="let n of arrayNotas" >
                  <div *ngIf="n.notasid.materia == 'Spring'" >
                    {{ n.nota4 }}
                  </div>
                </div>
              </td>
              <td>
                <div *ngFor="let n of arrayNotas" >
                  <div *ngIf="n.notasid.materia == 'Spring'" >
                      <font [ngClass]="{'red-text font-weight-bold': n.media < 6,'green-text font-weight-bold': n.media >= 6}"> {{ n.media }} </font>
                  </div>
                </div>
              </td>
          </tr>

          <tr>
              <th>TypeScript</th>
              <td>
                <div *ngFor="let n of arrayNotas" >
                  <div *ngIf="n.notasid.materia == 'TypeScript'" >
                    {{ n.nota1 }}
                  </div>
                </div>
              </td>
              <td>
                <div *ngFor="let n of arrayNotas" >
                  <div *ngIf="n.notasid.materia == 'TypeScript'" >
                    {{ n.nota2 }}
                  </div>
                </div>
              </td>
              <td>
                <div *ngFor="let n of arrayNotas" >
                  <div *ngIf="n.notasid.materia == 'TypeScript'" >
                    {{ n.nota3 }}
                  </div>
                </div>
              </td>
              <td>
                <div *ngFor="let n of arrayNotas" >
                  <div *ngIf="n.notasid.materia == 'TypeScript'" >
                    {{ n.nota4 }}
                  </div>
                </div>
              </td>
              <td>
                <div *ngFor="let n of arrayNotas" >
                  <div *ngIf="n.notasid.materia == 'TypeScript'" >
                      <font [ngClass]="{'red-text font-weight-bold': n.media < 6,'green-text font-weight-bold': n.media >= 6}"> {{ n.media }} </font>
                  </div>
                </div>
              </td>
          </tr>

          <tr>
              <th>React</th>
              <td>
                <div *ngFor="let n of arrayNotas" >
                  <div *ngIf="n.notasid.materia == 'React'" >
                    {{ n.nota1 }}
                  </div>
                </div>
              </td>
              <td>
                <div *ngFor="let n of arrayNotas" >
                  <div *ngIf="n.notasid.materia == 'React'" >
                    {{ n.nota2 }}
                  </div>
                </div>
              </td>
              <td>
                <div *ngFor="let n of arrayNotas" >
                  <div *ngIf="n.notasid.materia == 'React'" >
                    {{ n.nota3 }}
                  </div>
                </div>
              </td>
              <td>
                <div *ngFor="let n of arrayNotas" >
                  <div *ngIf="n.notasid.materia == 'React'" >
                    {{ n.nota4 }}
                  </div>
                </div>
              </td>
              <td>
                <div *ngFor="let n of arrayNotas" >
                  <div *ngIf="n.notasid.materia == 'React'" >
                      <font [ngClass]="{'red-text font-weight-bold': n.media < 6,'green-text font-weight-bold': n.media >= 6}"> {{ n.media }} </font>
                  </div>
                </div>
              </td>
          </tr>

          <tr>
              <th>MySql</th>
              <td>
                <div *ngFor="let n of arrayNotas" >
                  <div *ngIf="n.notasid.materia == 'MySql'" >
                    {{ n.nota1 }}
                  </div>
                </div>
              </td>
              <td>
                <div *ngFor="let n of arrayNotas" >
                  <div *ngIf="n.notasid.materia == 'MySql'" >
                    {{ n.nota2 }}
                  </div>
                </div>
              </td>
              <td>
                <div *ngFor="let n of arrayNotas" >
                  <div *ngIf="n.notasid.materia == 'MySql'" >
                    {{ n.nota3 }}
                  </div>
                </div>
              </td>
              <td>
                <div *ngFor="let n of arrayNotas" >
                  <div *ngIf="n.notasid.materia == 'MySql'" >
                    {{ n.nota4 }}
                  </div>
                </div>
              </td>
              <td>
                <div *ngFor="let n of arrayNotas" >
                  <div *ngIf="n.notasid.materia == 'MySql'" >
                      <font [ngClass]="{'red-text font-weight-bold': n.media < 6,'green-text font-weight-bold': n.media >= 6}"> {{ n.media }} </font>
                  </div>
                </div>
              </td>
          </tr>
        </tbody>
      </table>
      <table class="table table-hover table-sm" *ngIf="aparecidoNotas">
          <thead >
            <th scope="col">Matéria</th> <th scope="col">1° Bimestre</th> <th scope="col">2° Bimestre</th> <th scope="col">3° Bimestre</th> <th scope="col">4° Bimestre</th>
          </thead>
          <tbody>
              <tr>
                  <th>Java</th>
                  <td>
                  <div *ngFor="let n of arrayNotasAt; let i = index" >
                      <input type="number" max="10" class="form-control" *ngIf="n.notasid.materia == 'Java'" [(ngModel)]="arrayNotasAt[i].nota1"/>
                  </div>
                  </td>
                  <td>
                  <div *ngFor="let n of arrayNotasAt; let i = index" >
                      <input type="number" max="10" class="form-control" *ngIf="n.notasid.materia == 'Java'" [(ngModel)]="arrayNotasAt[i].nota2"/>
                  </div>
                  </td>
                  <td>
                  <div *ngFor="let n of arrayNotasAt; let i = index" >
                      <input type="number" max="10" class="form-control" *ngIf="n.notasid.materia == 'Java'" [(ngModel)]="arrayNotasAt[i].nota3"/>
                  </div>
                  </td>
                  <td>
                  <div *ngFor="let n of arrayNotasAt; let i = index" >
                      <input type="number" max="10" class="form-control" *ngIf="n.notasid.materia == 'Java'" [(ngModel)]="arrayNotasAt[i].nota4"/>
                  </div>
                  </td>
              </tr>
          
              <tr>
                  <th>PHP</th>
                  <td>
                  <div *ngFor="let n of arrayNotasAt; let i = index" >
                      <input type="number" max="10" class="form-control" *ngIf="n.notasid.materia == 'PHP'" [(ngModel)]="arrayNotasAt[i].nota1"/>
                  </div>
                  </td>
                  <td>
                  <div *ngFor="let n of arrayNotasAt; let i = index" >
                      <input type="number" max="10" class="form-control" *ngIf="n.notasid.materia == 'PHP'" [(ngModel)]="arrayNotasAt[i].nota2"/>
                  </div>
                  </td>
                  <td>
                  <div *ngFor="let n of arrayNotasAt; let i = index" >
                      <input type="number" max="10" class="form-control" *ngIf="n.notasid.materia == 'PHP'" [(ngModel)]="arrayNotasAt[i].nota3"/>
                  </div>
                  </td>
                  <td>
                  <div *ngFor="let n of arrayNotasAt; let i = index" >
                      <input type="number" max="10" class="form-control" *ngIf="n.notasid.materia == 'PHP'" [(ngModel)]="arrayNotasAt[i].nota4"/>
                  </div>
                  </td>
              </tr>
          
              <tr>
                  <th>JavaScript</th>
                  <td>
                      <div *ngFor="let n of arrayNotasAt; let i = index" >
                      <input type="number" max="10" class="form-control" *ngIf="n.notasid.materia == 'JavaScript'" [(ngModel)]="arrayNotasAt[i].nota1"/>
                      </div>
                  </td>
                  <td>
                      <div *ngFor="let n of arrayNotasAt; let i = index" >
                          <input type="number" max="10" class="form-control" *ngIf="n.notasid.materia == 'JavaScript'" [(ngModel)]="arrayNotasAt[i].nota2"/>
                      </div>
                  </td>
                  <td>
                      <div *ngFor="let n of arrayNotasAt; let i = index" >
                          <input type="number" max="10" class="form-control" *ngIf="n.notasid.materia == 'JavaScript'" [(ngModel)]="arrayNotasAt[i].nota3"/>
                      </div>
                  </td>
                  <td>
                      <div *ngFor="let n of arrayNotasAt; let i = index" >
                          <input type="number" max="10" class="form-control" *ngIf="n.notasid.materia == 'JavaScript'" [(ngModel)]="arrayNotasAt[i].nota4"/>
                      </div>
                  </td>
              </tr>
          
              <tr>
                  <th>C++</th>
                  <td>
                      <div *ngFor="let n of arrayNotasAt; let i = index" >
                      <input type="number" max="10" class="form-control" *ngIf="n.notasid.materia == 'C++'" [(ngModel)]="arrayNotasAt[i].nota1"/>
                      </div>
                  </td>
                  <td>
                      <div *ngFor="let n of arrayNotasAt; let i = index" >
                          <input type="number" max="10" class="form-control" *ngIf="n.notasid.materia == 'C++'" [(ngModel)]="arrayNotasAt[i].nota2"/>
                      </div>
                  </td>
                  <td>
                      <div *ngFor="let n of arrayNotasAt; let i = index" >
                          <input type="number" max="10" class="form-control" *ngIf="n.notasid.materia == 'C++'" [(ngModel)]="arrayNotasAt[i].nota3"/>
                      </div>
                  </td>
                  <td>
                      <div *ngFor="let n of arrayNotasAt; let i = index" >
                          <input type="number" max="10" class="form-control" *ngIf="n.notasid.materia == 'C++'" [(ngModel)]="arrayNotasAt[i].nota4"/>
                      </div>
                  </td>
              </tr>
          
              <tr>
                  <th>Angular</th>
                  <td>
                      <div *ngFor="let n of arrayNotasAt; let i = index" >
                      <input type="number" max="10" class="form-control" *ngIf="n.notasid.materia == 'Angular'" [(ngModel)]="arrayNotasAt[i].nota1"/>
                      </div>
                  </td>
                  <td>
                      <div *ngFor="let n of arrayNotasAt; let i = index" >
                          <input type="number" max="10" class="form-control" *ngIf="n.notasid.materia == 'Angular'" [(ngModel)]="arrayNotasAt[i].nota2"/>
                      </div>
                  </td>
                  <td>
                      <div *ngFor="let n of arrayNotasAt; let i = index" >
                          <input type="number" max="10" class="form-control" *ngIf="n.notasid.materia == 'Angular'" [(ngModel)]="arrayNotasAt[i].nota3"/>
                      </div>
                  </td>
                  <td>
                      <div *ngFor="let n of arrayNotasAt; let i = index" >
                          <input type="number" max="10" class="form-control" *ngIf="n.notasid.materia == 'Angular'" [(ngModel)]="arrayNotasAt[i].nota4"/>
                      </div>
                  </td>
              </tr>
          
              <tr>
                  <th>Spring</th>
                  <td>
                      <div *ngFor="let n of arrayNotasAt; let i = index" >
                      <input type="number" max="10" class="form-control" *ngIf="n.notasid.materia == 'Spring'" [(ngModel)]="arrayNotasAt[i].nota1"/>
                      </div>
                  </td>
                  <td>
                      <div *ngFor="let n of arrayNotasAt; let i = index" >
                          <input type="number" max="10" class="form-control" *ngIf="n.notasid.materia == 'Spring'" [(ngModel)]="arrayNotasAt[i].nota2"/>
                      </div>
                  </td>
                  <td>
                      <div *ngFor="let n of arrayNotasAt; let i = index" >
                          <input type="number" max="10" class="form-control" *ngIf="n.notasid.materia == 'Spring'" [(ngModel)]="arrayNotasAt[i].nota3"/>
                      </div>
                  </td>
                  <td>
                      <div *ngFor="let n of arrayNotasAt; let i = index" >
                          <input type="number" max="10" class="form-control" *ngIf="n.notasid.materia == 'Spring'" [(ngModel)]="arrayNotasAt[i].nota4"/>
                      </div>
                  </td>
              </tr>
          
              <tr>
                  <th>TypeScript</th>
                  <td>
                      <div *ngFor="let n of arrayNotasAt; let i = index" >
                      <input type="number" max="10" class="form-control" *ngIf="n.notasid.materia == 'TypeScript'" [(ngModel)]="arrayNotasAt[i].nota1"/>
                      </div>
                  </td>
                  <td>
                      <div *ngFor="let n of arrayNotasAt; let i = index" >
                          <input type="number" max="10" class="form-control" *ngIf="n.notasid.materia == 'TypeScript'" [(ngModel)]="arrayNotasAt[i].nota2"/>
                      </div>
                  </td>
                  <td>
                      <div *ngFor="let n of arrayNotasAt; let i = index" >
                          <input type="number" max="10" class="form-control" *ngIf="n.notasid.materia == 'TypeScript'" [(ngModel)]="arrayNotasAt[i].nota3"/>
                      </div>
                  </td>
                  <td>
                      <div *ngFor="let n of arrayNotasAt; let i = index" >
                          <input type="number" max="10" class="form-control" *ngIf="n.notasid.materia == 'TypeScript'" [(ngModel)]="arrayNotasAt[i].nota4"/>
                      </div>
                  </td>
              </tr>
          
              <tr>
                  <th>React</th>
                  <td>
                      <div *ngFor="let n of arrayNotasAt; let i = index" >
                      <input type="number" max="10" class="form-control" *ngIf="n.notasid.materia == 'React'" [(ngModel)]="arrayNotasAt[i].nota1"/>
                      </div>
                  </td>
                  <td>
                      <div *ngFor="let n of arrayNotasAt; let i = index" >
                          <input type="number" max="10" class="form-control" *ngIf="n.notasid.materia == 'React'" [(ngModel)]="arrayNotasAt[i].nota2"/>
                      </div>
                  </td>
                  <td>
                      <div *ngFor="let n of arrayNotasAt; let i = index" >
                          <input type="number" max="10" class="form-control" *ngIf="n.notasid.materia == 'React'" [(ngModel)]="arrayNotasAt[i].nota3"/>
                      </div>
                  </td>
                  <td>
                      <div *ngFor="let n of arrayNotasAt; let i = index" >
                          <input type="number" max="10" class="form-control" *ngIf="n.notasid.materia == 'React'" [(ngModel)]="arrayNotasAt[i].nota4"/>
                      </div>
                  </td>
              </tr>
          
              <tr>
                  <th>MySql</th>
                  <td>
                      <div *ngFor="let n of arrayNotasAt; let i = index" >
                      <input type="number" max="10" class="form-control" *ngIf="n.notasid.materia == 'MySql'" [(ngModel)]="arrayNotasAt[i].nota1"/>
                      </div>
                  </td>
                  <td>
                      <div *ngFor="let n of arrayNotasAt; let i = index" >
                          <input type="number" max="10" class="form-control" *ngIf="n.notasid.materia == 'MySql'" [(ngModel)]="arrayNotasAt[i].nota2"/>
                      </div>
                  </td>
                  <td>
                      <div *ngFor="let n of arrayNotasAt; let i = index" >
                          <input type="number" max="10" class="form-control" *ngIf="n.notasid.materia == 'MySql'" [(ngModel)]="arrayNotasAt[i].nota3"/>
                      </div>
                  </td>
                  <td>
                      <div *ngFor="let n of arrayNotasAt; let i = index" >
                          <input type="number" max="10" class="form-control" *ngIf="n.notasid.materia == 'MySql'" [(ngModel)]="arrayNotasAt[i].nota4"/>
                      </div>
                  </td>
              </tr>
          </tbody>
      </table>
      <button mdbBtn type="button" color="info" class="waves-light" mdbWavesEffect (click)="mudarApNotas()" (click)="passarNotas1()" *ngIf="mostra('ROLE_EDITAR_NOTA') && !aparecidoNotas">
          <i class="fa fa-edit ml-1"></i> Editar notas</button>
      <button mdbBtn color="unique" class="waves-light" mdbWavesEffect  (click)="mudarApNotas()" (click)="editarNotas()" *ngIf="aparecidoNotas && mostra('ROLE_EDITAR_NOTA')">
          <i class="fa fa-paper-plane-o ml-1"></i> Atualizar notas</button>
  </div>
  <div class="faltas col-5 animated zoomIn">
    <h1><i class="fa fa-calendar-times-o red-text" aria-hidden="true"></i> Faltas</h1>
    <table  class="table table-hover table-lg" *ngIf="!aparecidoFaltas">
        <thead >
          <th scope="col">Matéria</th> <th scope="col">1° Bimestre</th> <th scope="col">2° Bimestre</th> <th scope="col">3° Bimestre</th> <th scope="col">4° Bimestre</th>
        </thead>
        <tbody>
          <tr>
            <th>Java</th>
            <td>
              <div *ngFor="let n of arrayFaltas" >
                <div *ngIf="n.faltasid.materia == 'Java'" [ngClass]="{'text-red': true}">
                  {{ n.numero1 }}
                </div>
              </div>
            </td>
            <td>
              <div *ngFor="let n of arrayFaltas" >
                <div *ngIf="n.faltasid.materia == 'Java'" >
                  {{ n.numero2 }}
                </div>
              </div>
            </td>
            <td>
              <div *ngFor="let n of arrayFaltas" >
                <div *ngIf="n.faltasid.materia == 'Java'" >
                  {{ n.numero2 }}
                </div>
              </div>
            </td>
            <td>
              <div *ngFor="let n of arrayFaltas" >
                <div *ngIf="n.faltasid.materia == 'Java'" >
                  {{ n.numero3 }}
                </div>
              </div>
            </td>
          </tr>

          <tr>
            <th>PHP</th>
            <td>
              <div *ngFor="let n of arrayFaltas" >
                <div *ngIf="n.faltasid.materia == 'PHP'" >
                  {{ n.numero1 }}
                </div>
              </div>
            </td>
            <td>
              <div *ngFor="let n of arrayFaltas" >
                <div *ngIf="n.faltasid.materia == 'PHP'" >
                  {{ n.numero2 }}
                </div>
              </div>
            </td>
            <td>
              <div *ngFor="let n of arrayFaltas" >
                <div *ngIf="n.faltasid.materia == 'PHP'" >
                  {{ n.numero3 }}
                </div>
              </div>
            </td>
            <td>
              <div *ngFor="let n of arrayFaltas" >
                <div *ngIf="n.faltasid.materia == 'PHP'" >
                  {{ n.numero4 }}
                </div>
              </div>
            </td>
          </tr>

          <tr>
              <th>JavaScript</th>
              <td>
                <div *ngFor="let n of arrayFaltas" >
                  <div *ngIf="n.faltasid.materia == 'JavaScript'" >
                    {{ n.numero1 }}
                  </div>
                </div>
              </td>
              <td>
                <div *ngFor="let n of arrayFaltas" >
                  <div *ngIf="n.faltasid.materia == 'JavaScript'" >
                    {{ n.numero2 }}
                  </div>
                </div>
              </td>
              <td>
                <div *ngFor="let n of arrayFaltas" >
                  <div *ngIf="n.faltasid.materia == 'JavaScript'" >
                    {{ n.numero3 }}
                  </div>
                </div>
              </td>
              <td>
                <div *ngFor="let n of arrayFaltas" >
                  <div *ngIf="n.faltasid.materia == 'JavaScript'" >
                    {{ n.numero4 }}
                  </div>
                </div>
              </td>
          </tr>

          <tr>
              <th>C++</th>
              <td>
                <div *ngFor="let n of arrayFaltas" >
                  <div *ngIf="n.faltasid.materia == 'C++'" >
                    {{ n.numero1 }}
                  </div>
                </div>
              </td>
              <td>
                <div *ngFor="let n of arrayFaltas" >
                  <div *ngIf="n.faltasid.materia == 'C++'" >
                    {{ n.numero2 }}
                  </div>
                </div>
              </td>
              <td>
                <div *ngFor="let n of arrayFaltas" >
                  <div *ngIf="n.faltasid.materia == 'C++'" >
                    {{ n.numero3 }}
                  </div>
                </div>
              </td>
              <td>
                <div *ngFor="let n of arrayFaltas" >
                  <div *ngIf="n.faltasid.materia == 'C++'" >
                    {{ n.numero4 }}
                  </div>
                </div>
              </td>
          </tr>

          <tr>
              <th>Angular</th>
              <td>
                <div *ngFor="let n of arrayFaltas" >
                  <div *ngIf="n.faltasid.materia == 'Angular'" >
                    {{ n.numero1 }}
                  </div>
                </div>
              </td>
              <td>
                <div *ngFor="let n of arrayFaltas" >
                  <div *ngIf="n.faltasid.materia == 'Angular'" >
                    {{ n.numero2 }}
                  </div>
                </div>
              </td>
              <td>
                <div *ngFor="let n of arrayFaltas" >
                  <div *ngIf="n.faltasid.materia == 'Angular'" >
                    {{ n.numero3 }}
                  </div>
                </div>
              </td>
              <td>
                <div *ngFor="let n of arrayFaltas" >
                  <div *ngIf="n.faltasid.materia == 'Angular'" >
                    {{ n.numero4 }}
                  </div>
                </div>
              </td>
          </tr>

          <tr>
              <th>Spring</th>
              <td>
                <div *ngFor="let n of arrayFaltas" >
                  <div *ngIf="n.faltasid.materia == 'Spring'" >
                    {{ n.numero1 }}
                  </div>
                </div>
              </td>
              <td>
                <div *ngFor="let n of arrayFaltas" >
                  <div *ngIf="n.faltasid.materia == 'Spring'" >
                    {{ n.numero2 }}
                  </div>
                </div>
              </td>
              <td>
                <div *ngFor="let n of arrayFaltas" >
                  <div *ngIf="n.faltasid.materia == 'Spring'" >
                    {{ n.numero3 }}
                  </div>
                </div>
              </td>
              <td>
                <div *ngFor="let n of arrayFaltas" >
                  <div *ngIf="n.faltasid.materia == 'Spring'" >
                    {{ n.numero4 }}
                  </div>
                </div>
              </td>
          </tr>

          <tr>
              <th>TypeScript</th>
              <td>
                <div *ngFor="let n of arrayFaltas" >
                  <div *ngIf="n.faltasid.materia == 'TypeScript'" >
                    {{ n.numero1 }}
                  </div>
                </div>
              </td>
              <td>
                <div *ngFor="let n of arrayFaltas" >
                  <div *ngIf="n.faltasid.materia == 'TypeScript'" >
                    {{ n.numero2 }}
                  </div>
                </div>
              </td>
              <td>
                <div *ngFor="let n of arrayFaltas" >
                  <div *ngIf="n.faltasid.materia == 'TypeScript'" >
                    {{ n.numero3 }}
                  </div>
                </div>
              </td>
              <td>
                <div *ngFor="let n of arrayFaltas" >
                  <div *ngIf="n.faltasid.materia == 'TypeScript'" >
                    {{ n.numero4 }}
                  </div>
                </div>
              </td>
          </tr>

          <tr>
              <th>React</th>
              <td>
                <div *ngFor="let n of arrayFaltas" >
                  <div *ngIf="n.faltasid.materia == 'React'" >
                    {{ n.numero1 }}
                  </div>
                </div>
              </td>
              <td>
                <div *ngFor="let n of arrayFaltas" >
                  <div *ngIf="n.faltasid.materia == 'React'" >
                    {{ n.numero2 }}
                  </div>
                </div>
              </td>
              <td>
                <div *ngFor="let n of arrayFaltas" >
                  <div *ngIf="n.faltasid.materia == 'React'" >
                    {{ n.numero3 }}
                  </div>
                </div>
              </td>
              <td>
                <div *ngFor="let n of arrayFaltas" >
                  <div *ngIf="n.faltasid.materia == 'React'" >
                    {{ n.numero4 }}
                  </div>
                </div>
              </td>
          </tr>

          <tr>
              <th>MySql</th>
              <td>
                <div *ngFor="let n of arrayFaltas" >
                  <div *ngIf="n.faltasid.materia == 'MySql'" >
                    {{ n.numero1 }}
                  </div>
                </div>
              </td>
              <td>
                <div *ngFor="let n of arrayFaltas" >
                  <div *ngIf="n.faltasid.materia == 'MySql'" >
                    {{ n.numero2 }}
                  </div>
                </div>
              </td>
              <td>
                <div *ngFor="let n of arrayFaltas" >
                  <div *ngIf="n.faltasid.materia == 'MySql'" >
                    {{ n.numero3 }}
                  </div>
                </div>
              </td>
              <td>
                <div *ngFor="let n of arrayFaltas" >
                  <div *ngIf="n.faltasid.materia == 'MySql'" >
                    {{ n.numero4 }}
                  </div>
                </div>
              </td>
          </tr>
        </tbody>
      </table>
    <table class="table table-hover table-sm" *ngIf="aparecidoFaltas">
        <thead >
          <th scope="col">Matéria</th> <th scope="col">1° Bimestre</th> <th scope="col">2° Bimestre</th> <th scope="col">3° Bimestre</th> <th scope="col">4° Bimestre</th>
        </thead>
        <tbody>
            <tr>
                <th>Java</th>
                <td>
                <div *ngFor="let n of arrayFaltasAt; let i = index" >
                    <input type="number" max="10" class="form-control" *ngIf="n.faltasid.materia == 'Java'" [(ngModel)]="arrayFaltasAt[i].numero1"/>
                </div>
                </td>
                <td>
                <div *ngFor="let n of arrayFaltasAt; let i = index" >
                    <input type="number" max="10" class="form-control" *ngIf="n.faltasid.materia == 'Java'" [(ngModel)]="arrayFaltasAt[i].numero2"/>
                </div>
                </td>
                <td>
                <div *ngFor="let n of arrayFaltasAt; let i = index" >
                    <input type="number" max="10" class="form-control" *ngIf="n.faltasid.materia == 'Java'" [(ngModel)]="arrayFaltasAt[i].numero3"/>
                </div>
                </td>
                <td>
                <div *ngFor="let n of arrayFaltasAt; let i = index" >
                    <input type="number" max="10" class="form-control" *ngIf="n.faltasid.materia == 'Java'" [(ngModel)]="arrayFaltasAt[i].numero4"/>
                </div>
                </td>
            </tr>
        
            <tr>
                <th>PHP</th>
                <td>
                <div *ngFor="let n of arrayFaltasAt; let i = index" >
                    <input type="number" max="10" class="form-control" *ngIf="n.faltasid.materia == 'PHP'" [(ngModel)]="arrayFaltasAt[i].numero1"/>
                </div>
                </td>
                <td>
                <div *ngFor="let n of arrayFaltasAt; let i = index" >
                    <input type="number" max="10" class="form-control" *ngIf="n.faltasid.materia == 'PHP'" [(ngModel)]="arrayFaltasAt[i].numero2"/>
                </div>
                </td>
                <td>
                <div *ngFor="let n of arrayFaltasAt; let i = index" >
                    <input type="number" max="10" class="form-control" *ngIf="n.faltasid.materia == 'PHP'" [(ngModel)]="arrayFaltasAt[i].numero3"/>
                </div>
                </td>
                <td>
                <div *ngFor="let n of arrayFaltasAt; let i = index" >
                    <input type="number" max="10" class="form-control" *ngIf="n.faltasid.materia == 'PHP'" [(ngModel)]="arrayFaltasAt[i].numero4"/>
                </div>
                </td>
            </tr>
        
            <tr>
                <th>JavaScript</th>
                <td>
                    <div *ngFor="let n of arrayFaltasAt; let i = index" >
                    <input type="number" max="10" class="form-control" *ngIf="n.faltasid.materia == 'JavaScript'" [(ngModel)]="arrayFaltasAt[i].numero1"/>
                    </div>
                </td>
                <td>
                    <div *ngFor="let n of arrayFaltasAt; let i = index" >
                        <input type="number" max="10" class="form-control" *ngIf="n.faltasid.materia == 'JavaScript'" [(ngModel)]="arrayFaltasAt[i].numero2"/>
                    </div>
                </td>
                <td>
                    <div *ngFor="let n of arrayFaltasAt; let i = index" >
                        <input type="number" max="10" class="form-control" *ngIf="n.faltasid.materia == 'JavaScript'" [(ngModel)]="arrayFaltasAt[i].numero3"/>
                    </div>
                </td>
                <td>
                    <div *ngFor="let n of arrayFaltasAt; let i = index" >
                        <input type="number" max="10" class="form-control" *ngIf="n.faltasid.materia == 'JavaScript'" [(ngModel)]="arrayFaltasAt[i].numero4"/>
                    </div>
                </td>
            </tr>
        
            <tr>
                <th>C++</th>
                <td>
                    <div *ngFor="let n of arrayFaltasAt; let i = index" >
                    <input type="number" max="10" class="form-control" *ngIf="n.faltasid.materia == 'C++'" [(ngModel)]="arrayFaltasAt[i].numero1"/>
                    </div>
                </td>
                <td>
                    <div *ngFor="let n of arrayFaltasAt; let i = index" >
                        <input type="number" max="10" class="form-control" *ngIf="n.faltasid.materia == 'C++'" [(ngModel)]="arrayFaltasAt[i].numero2"/>
                    </div>
                </td>
                <td>
                    <div *ngFor="let n of arrayFaltasAt; let i = index" >
                        <input type="number" max="10" class="form-control" *ngIf="n.faltasid.materia == 'C++'" [(ngModel)]="arrayFaltasAt[i].numero3"/>
                    </div>
                </td>
                <td>
                    <div *ngFor="let n of arrayFaltasAt; let i = index" >
                        <input type="number" max="10" class="form-control" *ngIf="n.faltasid.materia == 'C++'" [(ngModel)]="arrayFaltasAt[i].numero4"/>
                    </div>
                </td>
            </tr>
        
            <tr>
                <th>Angular</th>
                <td>
                    <div *ngFor="let n of arrayFaltasAt; let i = index" >
                    <input type="number" max="10" class="form-control" *ngIf="n.faltasid.materia == 'Angular'" [(ngModel)]="arrayFaltasAt[i].numero1"/>
                    </div>
                </td>
                <td>
                    <div *ngFor="let n of arrayFaltasAt; let i = index" >
                        <input type="number" max="10" class="form-control" *ngIf="n.faltasid.materia == 'Angular'" [(ngModel)]="arrayFaltasAt[i].numero2"/>
                    </div>
                </td>
                <td>
                    <div *ngFor="let n of arrayFaltasAt; let i = index" >
                        <input type="number" max="10" class="form-control" *ngIf="n.faltasid.materia == 'Angular'" [(ngModel)]="arrayFaltasAt[i].numero3"/>
                    </div>
                </td>
                <td>
                    <div *ngFor="let n of arrayFaltasAt; let i = index" >
                        <input type="number" max="10" class="form-control" *ngIf="n.faltasid.materia == 'Angular'" [(ngModel)]="arrayFaltasAt[i].numero4"/>
                    </div>
                </td>
            </tr>
        
            <tr>
                <th>Spring</th>
                <td>
                    <div *ngFor="let n of arrayFaltasAt; let i = index" >
                    <input type="number" max="10" class="form-control" *ngIf="n.faltasid.materia == 'Spring'" [(ngModel)]="arrayFaltasAt[i].numero1"/>
                    </div>
                </td>
                <td>
                    <div *ngFor="let n of arrayFaltasAt; let i = index" >
                        <input type="number" max="10" class="form-control" *ngIf="n.faltasid.materia == 'Spring'" [(ngModel)]="arrayFaltasAt[i].numero2"/>
                    </div>
                </td>
                <td>
                    <div *ngFor="let n of arrayFaltasAt; let i = index" >
                        <input type="number" max="10" class="form-control" *ngIf="n.faltasid.materia == 'Spring'" [(ngModel)]="arrayFaltasAt[i].numero3"/>
                    </div>
                </td>
                <td>
                    <div *ngFor="let n of arrayFaltasAt; let i = index" >
                        <input type="number" max="10" class="form-control" *ngIf="n.faltasid.materia == 'Spring'" [(ngModel)]="arrayFaltasAt[i].numero4"/>
                    </div>
                </td>
            </tr>
        
            <tr>
                <th>TypeScript</th>
                <td>
                    <div *ngFor="let n of arrayFaltasAt; let i = index" >
                    <input type="number" max="10" class="form-control" *ngIf="n.faltasid.materia == 'TypeScript'" [(ngModel)]="arrayFaltasAt[i].numero1"/>
                    </div>
                </td>
                <td>
                    <div *ngFor="let n of arrayFaltasAt; let i = index" >
                        <input type="number" max="10" class="form-control" *ngIf="n.faltasid.materia == 'TypeScript'" [(ngModel)]="arrayFaltasAt[i].numero2"/>
                    </div>
                </td>
                <td>
                    <div *ngFor="let n of arrayFaltasAt; let i = index" >
                        <input type="number" max="10" class="form-control" *ngIf="n.faltasid.materia == 'TypeScript'" [(ngModel)]="arrayFaltasAt[i].numero3"/>
                    </div>
                </td>
                <td>
                    <div *ngFor="let n of arrayFaltasAt; let i = index" >
                        <input type="number" max="10" class="form-control" *ngIf="n.faltasid.materia == 'TypeScript'" [(ngModel)]="arrayFaltasAt[i].numero4"/>
                    </div>
                </td>
            </tr>
        
            <tr>
                <th>React</th>
                <td>
                    <div *ngFor="let n of arrayFaltasAt; let i = index" >
                    <input type="number" max="10" class="form-control" *ngIf="n.faltasid.materia == 'React'" [(ngModel)]="arrayFaltasAt[i].numero1"/>
                    </div>
                </td>
                <td>
                    <div *ngFor="let n of arrayFaltasAt; let i = index" >
                        <input type="number" max="10" class="form-control" *ngIf="n.faltasid.materia == 'React'" [(ngModel)]="arrayFaltasAt[i].numero2"/>
                    </div>
                </td>
                <td>
                    <div *ngFor="let n of arrayFaltasAt; let i = index" >
                        <input type="number" max="10" class="form-control" *ngIf="n.faltasid.materia == 'React'" [(ngModel)]="arrayFaltasAt[i].numero3"/>
                    </div>
                </td>
                <td>
                    <div *ngFor="let n of arrayFaltasAt; let i = index" >
                        <input type="number" max="10" class="form-control" *ngIf="n.faltasid.materia == 'React'" [(ngModel)]="arrayFaltasAt[i].numero4"/>
                    </div>
                </td>
            </tr>
        
            <tr>
                <th>MySql</th>
                <td>
                    <div *ngFor="let n of arrayFaltasAt; let i = index" >
                    <input type="number" max="10" class="form-control" *ngIf="n.faltasid.materia == 'MySql'" [(ngModel)]="arrayFaltasAt[i].numero1"/>
                    </div>
                </td>
                <td>
                    <div *ngFor="let n of arrayFaltasAt; let i = index" >
                        <input type="number" max="10" class="form-control" *ngIf="n.faltasid.materia == 'MySql'" [(ngModel)]="arrayFaltasAt[i].numero2"/>
                    </div>
                </td>
                <td>
                    <div *ngFor="let n of arrayFaltasAt; let i = index" >
                        <input type="number" max="10" class="form-control" *ngIf="n.faltasid.materia == 'MySql'" [(ngModel)]="arrayFaltasAt[i].numero3"/>
                    </div>
                </td>
                <td>
                    <div *ngFor="let n of arrayFaltasAt; let i = index" >
                        <input type="number" max="10" class="form-control" *ngIf="n.faltasid.materia == 'MySql'" [(ngModel)]="arrayFaltasAt[i].numero4"/>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <button mdbBtn type="button" color="danger" class="waves-light" mdbWavesEffect (click)="mudarApFaltas()" (click)="passarFaltas1()" *ngIf="mostra('ROLE_DELETAR_FALTA') && !aparecidoFaltas">
        <i class="fa fa-edit ml-1"></i> Editar faltas</button>
    <button mdbBtn color="unique" class="waves-light" mdbWavesEffect  (click)="mudarApFaltas()" (click)="editarFaltas()" *ngIf="mostra('ROLE_DELETAR_FALTA') && aparecidoFaltas">
        <i class="fa fa-paper-plane-o ml-1"></i> Atualizar faltas</button>
  </div>
</div>



<!-- MENSAGENS DE ERRO -->
<p-toast [style]="{marginTop: '80px'}" styleClass="custom-toast" position="bottom-right"></p-toast>
<p-toast position="center" key="c" (onClose)="fecharAviso()" [modal]="true" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
      <div style="text-align: center">
          <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
          <h3>{{message.summary}}</h3>
          <p>{{message.detail}}</p>
      </div>
      <div class="ui-g ui-fluid">
          <div class="ui-g-6">
              <button type="button" pButton (click)="fecharAviso()" label="No" class="ui-button-secondary"></button>
          </div>
      </div>
  </ng-template>
</p-toast>