<div class="lista">
    <div class="animated zoomIn">
      <h1>Adicionar um alunos</h1><br>
      <div class="col-12">
        <form class="col-8">

            <div class="md-form">
              <i class="fa fa-envelope prefix"></i>
              <input mdbInputDirective type="text" id="email" class="form-control">
              <label for="email">Nome</label>
            </div>

            <div class="md-form">
              <i class="fa fa-envelope prefix"></i>
              <input mdbInputDirective type="text" id="email" class="form-control">
              <label for="email">Email</label>
            </div>
        </form>
      </div>
  </div>
</div>
