.perfil {
    background-color: rgba(255, 255, 255,1);
    padding-left: 5%;
    padding-right: 5%;
    padding: 1%;
    height: 100vh;
}
.infprincipais {
    padding-left: 4%;
    padding-right: 2%;
}
.img-responsive {
    border: 5px solid white;
    box-shadow: 2px 2px 30px darkgray;
}
.dados {
    background-color: white;
    padding: 3%;
}

.cabecalho {
    background-color: white;
}

.imagem {
    margin-left: 5%;
}
