<div class="lista">
    <div class="animated zoomIn">
      <h1>Adicionar professores</h1><br>
      <span>Para adicionar um professor, preencha todos os campos abaixo e confirme.</span><br>
      <div class="col-7" style="float: left;">
        <form>
            <div class="md-form">
              <i class="fa fa-user-circle prefix"></i>
              <input mdbInputDirective type="text" id="nome" name="nome" class="form-control"  [(ngModel)]="professor.nome">
              <label for="nome">Nome</label>
            </div>
  
            <div class="md-form">
              <i class="fa fa-user-circle-o prefix"></i>
              <input mdbInputDirective type="text" id="sobrenome" name="sobrenome" class="form-control"  [(ngModel)]="professor.sobrenome">
              <label for="sobrenome">Sobrenome</label>
            </div>
  
            <div class="md-form">
              <i class="fa fa-mortar-board prefix"></i>
              <input mdbInputDirective type="text" id="disciplina" name="disciplina" class="form-control"  [(ngModel)]="professor.disciplina">
              <label for="disciplina">Disciplina</label>
            </div>
  
            <div class="md-form">
              <i class="fa fa-envelope prefix"></i> 
              <input mdbInputDirective type="email" id="email" class="form-control" name="email"  [(ngModel)]="professor.email">
              <label for="email">Email</label>
            </div>
  
            <div class="md-form">
              <i class="fa fa-lock prefix"></i>
              <input mdbInputDirective type="password" id="senha" class="form-control" name="senha"  [(ngModel)]="professor.senha">
              <label for="senha">Senha</label>
            </div>
  
            <div class="md-form">
              <i class="fa fa-phone prefix"></i> 
              <input mdbInputDirective type="text" id="telefone" class="form-control" name="telefone"  [(ngModel)]="professor.telefone">
              <label for="telefone">Telefone</label>
            </div>
  
            <div class="md-form">
              <i class="fa fa-calendar prefix"></i> 
              <input mdbInputDirective type="text" id="nascimento" class="form-control" name="nascimento"  [(ngModel)]="professor.nascimento">
              <label for="telefone">Data de nascimento</label>
            </div>
          
            <br><br>
            <button mdbBtn type="button" color="default" class="waves-light" block="true" mdbWavesEffect (click)="adicionarProfessor()">Cadastrar</button>
        </form>
      </div>
    </div>
    <div class="col-4 offset-1 animated fadeInRightBig" style="float: right;">
      <img src="../../../../assets/imgs/prof.png" alt="" width="450" style="opacity: .8;">
    </div>
  </div>