.lista {
    background-color: rgba(255,255,255,.85);
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    height: 800px;
}
.titulo{
    background-color: #007E33 !important;
    color: white;
}

input {
    background-color: rgba(255,255,255,.2) !important;
}
.ae {
    background-color: rgba(255,255,255,.2) !important;
}